<!DOCTYPE html>

<html>
    <head>
      <title>Home Page</title>
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>

    <body>
      <div class="container">
      <h1>Courses</h1>
     
        <h3>Add a new course</h3>
      <div>
        <form action='/courses_app/add' method='post'>
          {% csrf_token %}
          <div class='form-group'>
              <label for="name">  Name:</label>
              <input type='text' name='name' placeholder="Name" class="form-control">
          </div>
          <div class='form-group'>
              <label for="name"> Description:</label>
              <textarea name='desc'  placeholder="Description" class="form-control"></textarea>
          </div>
          <div class='form-group'><input type="submit" name="sub" class='btn btn-info' value="Add Course"></div>

      </form>
      </div>


      <table class="table table-hover">
 <thead>
         <tr>
          <td> Course Name </td>
          <td> Description </td>

          <td> Date Added </td>
          <td> Actions </td>
        </tr>
      </thead>
        {% for x in courses %}
        <tr>

          <td> {{x.name}}</td>
          <td>{{x.desc}}</td>
          <td>{{x.created_at}}</td>
          <td> <a href="/courses_app/{{x.id}}/destroy"> Delete </a></td>
        </tr>
        
        {% endfor %}
      </table>
      <hr>

      

      <!-- read on to learn about form actions, we'll talk about the method in a later section -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      </div>
    </body>
</html>